version: '3.8'

services:
  nginx:
    build: .
    ports:
      - "80:80"
    depends_on:
      - fastapi_app
    volumes:
      - ./default_fastapi.conf:/etc/nginx/conf.d/default.conf

  fastapi_app:
    build:
      context: ./fastapi
      dockerfile: Dockerfile
    ports:
      - "8000:8000"
